/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 26-Jul-2018, 23:32:13
    Author     : anthonycolle
*/


/* DEFAULT STYLE OF HTML TAGS */
/*html {
  box-sizing:border-box;
  overflow-x:hidden;
}*/

html, body {
  font-family: 'Nunito Sans', sans-serif;
  font-size:15px;
  line-height:1.5;
  margin:0;
  width: 100%;
  height: 100%;
}

h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}

h1,h2,h3,h4,h5,h6 {
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  margin:0
}

hr {
  border:0;
  border-top:1px solid #eee;
  margin: 20px 0
}

/* PAGE STYLE */
.container {
    width: 100%;
    height: 100%;
    margin:auto;
    background: linear-gradient(to bottom, #0099ff 0%, #9966ff 100%);
}

#logout, #logout a {
  text-align: right;
  text-decoration: none;
  padding: 10px;
  color: #fdfdfd;
}

#text-welcome {
    text-align: center;
    color: #fdfdfd;
}

#text-welcome h2 {
    padding-top: 20px;
}

/* Text for new user */
#newUser p {
    text-align: center;
    color: #fdfdfd;
    width: 40%;
    margin: auto;
    padding: 10px 0;
}

/* Action Buttons */
#newAccount {
  text-align: center;
}

#newAccount input[type=button] {
    width: 300px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #fdfdfd;
    color: #222222;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#newAccount input[type=button]:hover {
    background-color: #efefef;
}

/* Action Forms */

/* 1 - Add New Account */
#new-account-form-2 fieldset {
    border: 1px solid #fdfdfd;
}

#new-account-form-2 {
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 30px 40px;
    font-size: 18px;
    color: #fdfdfd;
    display: none;
}

#new-account-form-2 .field:nth-child(even) {
  margin-top: 15px;
}

#new-account-form-2 input[type=text] {
  width: 250px;
}

#new-account-form-2 input[type=submit] {
  text-align: center;
}

.field {
  height: 80px;
  margin-bottom: 10px 0;
  /* border: 1px solid green; */
}

/* STYLE OF FORM ELEMENTS */
input[type=text] {
  width: 176px;
  font-size: 12px;
  padding: 8px 10px;
}

input[type=button] {
  width: 190px;
  font-size: 14px;
  padding: 14px;
}

input[type=submit] {
    font-size: 12px;
    background-color: #82bbd1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ff9999));
    color: #222222;
    width: 60px;
    margin:auto;
    padding-top: 8px;
    padding-left: auto;
    padding-bottom: 8px;
    padding-right: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    clear: both;
}

input[type=submit]:hover {
  background-color: #82bbd1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ff6600));
}
